body {
    background-color: rgb(236, 193, 231);
}

#button-container {
    display: block;
    justify-content: center;
    justify-items: center;
    margin: 0 40vw 30px 40vw;
    width: 50vw;
    height: 100%;
}

button {
    display: inline-block;
}

h1 {
    display: flex;
    justify-self: center;
}

button {
    box-shadow: rgb(196, 4, 93);
}

#container {

    width: 50vw;
    height: 50vw;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    border-color: black;
    border-width: thin;
    border-style: dashed;
    background-color: white;
    margin: 0 auto 0 auto;
}

@media (max-width: 100vh) {
    #container {
        width: 50vw;
        height: 50vw;
    }
    #button-container {
        width: 50vw;
    }
} 